<tr name="<%= price_item.id %>">
  <% if session[:user_id] %>
    <td><%= check_box_tag "chk[#{price_item.id}]", price_item.id, false, :class => 'item-checked' %></td>
  <% end %>
  <td><%=h number_with_precision(price_item.code,0) %></td>
  <td class="t"><%= link_to h(price_item.title), :action => :product, :id => price_item.id %></td>
  <td class="i"><%= price_item.item_type.name if price_item.item_type %></td>
  <td class="p"><%= number_to_currency(price_item.price, :unit => "руб.", :format => "%n %u")  %></td>
</tr>